/* ---------- Color Module Styles ----------- */

body {
  color: #3b3b3b;
  background: #292929;
}
.logo_custom
{
  width:50%;
  }

.top-bar,
{
  color: #FFFFFF;
  background: #40A497;
}

.top-bar-a
{
  color: #FEFFFF;
  background: #40A497;
}

.top-bar ul li a
{
  color: #FFFFFF;
  background: #5f61a2;
}

.off-canvas{
   background-color: #5f61a2 !important;
}


.off-canvas-wrapper
  {
    position: initial !important;
  }

.dropdown-menu1
{
  background: #292929;
}

/* Sliders */
    ul.single.item{
    margin left : 0px !important}

